{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block title %}
 <title>Task page</title>
{% endblock %}

{% block content %}
  <div class="container mt-8">
    <h1>{{ task.name }}</h1>
    <p>Owner: <strong>{{ task.owner.username }}</strong></p>
    <hr>
    <p>Description: <strong>{{ task.description }}</strong></p>
    <p>Deadline: <strong>{{ task.deadline }}</strong></p>
    <p>Task is <strong>{{ task.is_completed|yesno:"completed, not completed" }}</strong></p>
    <p>Task priority: <strong>{{ task.priority }}</strong></p>
    <p>Task type: <strong>{{ task.task_type.name }}</strong></p>
    <p>Part of project: <strong><a href="{% url 'task_manager:project-detail' pk=task.project.id %}">{{ task.project.name }}</a></strong></p>

    <p>Tags:
      {% for tag in task.tags.all %}
        <strong>{{ tag.name }}</strong>
      {% endfor %}
    </p>


    <hr>

    {% if valid_user%}
      {% if user in task.assignees.all %}
        {% if not is_past_deadline %}

          <form action="" method="post">

            {% csrf_token %}
            {{ update_form|crispy}}
            <input type="submit" value="Submit" class="btn btn-primary">

          </form>

        {% else %}
          <p>Task is past the deadline</p>
        {% endif %}
      {% else %}
        <form action="" method="post">

          {% csrf_token %}
          <input type="submit" value="Do the task?">
          <input type="hidden" name="assignees" value="{{ user.id }}">

        </form>
      {% endif %}
    {% else %}
      <ul  class="sidebar-nav list-group">
        <h4>Join one of team to implement that task</h4>
        {% for team in task.project.teams.all %}
          <li class="list-group-item"><a href="{% url 'team_manager:team-detail' pk=team.id %}">{team.name}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="mt-4">
      {% if user == task.owner %}
        <a href="{% url 'task_manager:task-update' pk=task.id %}" class="btn btn-primary">Update</a>
        <a href="{% url 'task_manager:task-delete' pk=task.id %}" class="btn btn-danger">Delete</a>
      {% endif %}
    </div>

    <hr>
    <div class="row">
      {% if task.is_completed %}
        <h3 class="text-center mb-5">Task was completed by:</h3>
        {% for worker in task.assignees.all %}
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="media-body">
                       <h3><a href="{% url 'team_manager:worker-detail' pk=worker.id %}">{{ worker.username }}</a></h3>
                      <p><strong>Position:</strong>{{ worker.position }}</p>
                      <p><strong>First name:</strong>{{ worker.first_name }}</p>
                      <p><strong>Last name:</strong>{{ worker.last_name }}</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      {% else %}
        <h3 class="text-center mb-4">Task is currently being worked on by:</h3>
        {% for worker in task.assignees.all %}
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="media-body">
                       <h3><a href="{% url 'team_manager:worker-detail' pk=worker.id %}">{{ worker.username }}</a></h3>
                      <p><strong>Position:</strong>{{ worker.position }}</p>
                      <p><strong>First name:</strong>{{ worker.first_name }}</p>
                      <p><strong>Last name:</strong>{{ worker.last_name }}</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
